.filterButton {
    border: 0;
    font-size: 15px;
    color: gray;
    background-color: transparent;
}

.mouseOn {
    color: black;
}

.choosen {
    font-weight: bold;
    color: rgb(62 124 217);
}